@font-face {
    font-family: "iconfont"; /* Project id 4135877 */
    src: url('//at.alicdn.com/t/c/font_4135877_a7zadnuia.woff2?t=1687648523346') format('woff2'),
         url('//at.alicdn.com/t/c/font_4135877_a7zadnuia.woff?t=1687648523346') format('woff'),
         url('//at.alicdn.com/t/c/font_4135877_a7zadnuia.ttf?t=1687648523346') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-xiajiantou:before {
    content: "\e752";
  }
  